*{
    box-sizing: border-box;
}
h1{
    text-align: center;

}
h2{
    text-align: center;
}
nav>ul{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 5em;
    list-style-type: none;
}

.FoodTruckDetailsAndPhotos {
    /* food truck prototype */
    display: flex;
    gap: 2em;
    text-align: center;
    justify-content: center;
}

.ReviewInput {
    text-align: center;
}

.AddHashtag{
    text-align: center;
    padding-top: 1em;
}

.SubmitButton{
    text-align: center;
    padding-top: 4em;
}
.foodTruckImgList{
    width: 200px;
    border-radius: 25px;
}
section>ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    list-style-type: none;
}
/* All hashtags */
.HashtagList>ul {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    text-align: center;
}
.reviewForm {
    text-align: center;
}
.ActualReviews>ul>li {
    display: flex;
    flex-direction: column;
    max-width: 200px 200px;
    text-align: center;

}





