body{
    background-color: #75c1c6;

}
nav{
    background-color: #ffffff;
    border-style: solid none;
}
nav ul li a:visited{
   color: #646464;
}
nav ul li a{
   text-decoration: none;
   font-size: 2em;
   padding: 5px;
   border: 1px solid grey;
   border-radius: 5px;
}
*{
    font-family:‘Raleway’, sans-serif;
}
main{
    font-size: x-large;
}
