<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>FoodTruck</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header>
    <h1>
        Beep-Beep Yum

    </h1>
</header>
<nav>
    <ul>
        <li><a th:href="'/AllHashtagsTemplate'">Hashtags</a></li>
        <li><a href="./SubmitReview.html">Submit Review</a></li>
        <li><a th:href="'/'">All Categories</a></li>
    </ul>
</nav>



<main>
    <div class="FoodTruckDetailsAndPhotos">
        <div>
            <img src="/img/american.jpg" alt="">
        </div>
        <div>
            <h1 th:text="'This is ' + ${foodTruck.name} + ' food truck.'">this is a food truck.</h1>
            <!--            <th:p>${foodTruck.getCategories}Category</th:p>-->
            <div>
                <label>Website: </label>
                <p th:text="${foodTruck.website}">Website</p>
            </div>
            <div>
                <label>Order Ahead: </label>
                <p th:text="${foodTruck.orderAhead}">Order ahead</p>
            </div>
            <ul>
            <li th:each="hashtags: ${foodTruck.hashtags}" th:text="${hashtags.hashtag}"></li>
            </ul>
        </div>
    </div>
<!--    /SubmitHashtag/{hasgtagId}-->
    <form th:action="|/SubmitHashtag|" method="POST">
        <div class="AddHashtag">
            <label >Add Hashtag: </label>
            <input name = "hashtag" type="text">
            <input name = "foodTruckId" type="hidden" th:value="${foodTruck.foodTruckId}">
        </div>
    <div class="SubmitButton">
        <button type="submit">Submit Hashtag</button>
    </div>
    </form>
</main>
</body>

</html>